// *{
//     font-family: "Sans-serif", Anton;
// } 
    
body{
    background-color: #C9DABF;
}

.navbar-brand{
    color: #03346E;
    font-weight: bold;
    font-family: Anton;
}
.card-subtitle{
    color: #03346E;
    opacity: 75%;
    font-weight: bold;
}

