.icon{
    display: flex;
    height: 80px;
    padding: 20px;
    
}

.iconhtml{
    color: red;
}
.iconcss{
color: #0d6efd;

}
.iconsass{
    color: #d63384;
}
.iconboots{
color: #6f42c1;
}
.icongit{
color: red;
}
.icongithub{
color: black;
}
.iconjs{
color: yellow;
}
.iconvue{
color: green;
}

 


